DATABASE_URL="postgresql://neondb_owner:npg_2j4FyvKJeYkf@ep-lingering-mouse-aciuzjyy-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PORT=10000
CORS_ORIGIN="https://matchpoint-app-ten.vercel.app"
NODE_ENV="production"
JWT_SECRET="senhaSegura"
ADMIN_EMAIL="admin@matchpoint.com"
ADMIN_PASSWORD="123456"
